.nav-items div{
    display: inline-block;
    padding-right: 36px;

}
.nav_menu div a{ 
    
    color: #666;
    
    text-align: center;
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 130% */
    text-decoration-line: none;
}
.logo{
    display: inline-block;
    margin-top:40px;
    padding-right: 306px;
    padding-left:160px;
}
.nav-items{
    display: inline-block;
}


.icon_group div {
    padding-right: 20px;
}
#link_logo{
    padding-right:160px;
}
#section1 h2{
    display: inline-block;
    color: var(--Solid-Heading, #42446E);
    font-family: Poppins;
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px; /* 120.69% */
    letter-spacing: -1px;
    margin-right: 260px;
}
#section1{
    margin-left:160px;
    margin-top: 265px;
}
#section1 img{
    border-radius: 50%;
    /* background-image:linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%); */
    border: 9px solid transparent;
    border-radius: 50%;
    background-image: linear-gradient(#fff, #fff), 
    linear-gradient(to right top, #a11b69, #f9d3d0);
    background-origin: border-box;
    background-clip: content-box, border-box;
    margin-right: 160px;
}


#section2{
    margin-top: 265px;
}

#section2 h1, #section3 h1{
    color: #42446E;
    text-align: center;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 54.167% */
    margin-bottom: 50px;
}
#section2 p, #section3 p{
    color: #666;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 180px;
}
#section2 img{
    margin-bottom: 155px;
}
#section2 div{
    display:flex;
    justify-content: center;
    gap:80px;

}

#section3{
    margin-bottom:96px;
    
}
#section4, #section5{
    display: flex;
    justify-content:center;
    gap:15px;
    flex-wrap: wrap;
    


    
}
.project_img{
    width: 375px;
    height:256px;
}


#section4 div, #section5 div{
    box-shadow: 5px 5px 15px 0px #848484;
    border-radius:  20px 20px;
    width: 375px;
    height: 570px;
    padding:30px;
    justify-content: center;
    position: relative;
    background-color: rgb(248, 246, 234);
    transform: scale(0.99); /* 초기에는 조금 축소된 상태로 설정 */
    transition: opacity 0.3s ease, transform 0.3s ease; 
}
.project-div {
    transform: scale(1); /* 호버 시 확대되도록 설정 */
}
#section5, #section4{
    margin-bottom: 200px;
}


.footer-menu div{
    display: inline-block; 
    
}
.footer-menu{
    display: inline-block;
    margin-left: 200px;
    margin-bottom: 50px;
}
.footer_list a{
    color:#42446E;
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 130% */
    text-decoration-line: none;
    padding-right: 36px;
    
}
.footer_list{
    margin-left:160px;
    margin-top:50px;
    
}
#line{
    margin-left:160px;
    margin-right: 160px;
    
}
.info div a{
    margin-right:68px;
    font-family: "DM Sans";
    font-style: normal;
    color:#42446E;
    text-decoration-line: none;
    
}

.footer_end div{
    display: inline-block;
}
#right{
    margin-top:50px;
    float: right;
    margin-right:160px;
    font-family: "DM Sans";
    font-size: 20px;
}
#name{
    background: linear-gradient(to right top, #861657, #ffa69e);
    color: transparent;
    -webkit-background-clip: text;
}
#love, #coffee{
    background: linear-gradient(to right top, #861657, #ffa69e);
    color: transparent;
    -webkit-background-clip: text;
}

#em{
    background: linear-gradient(to right, #7161b2, hsl(302, 86%, 83%));
    color: transparent;
    -webkit-background-clip: text;
}

/* #section4 div a{
    width: 100px;
    height: 100px;
} */
#section4 div h2{
    font-family: "DM Sans";
    font-size:30px;
    font-style: normal;
    margin-top:40px;
}


#project_name{
    display: inline;
    
    align-content: center;
}
.github{
    width:30px;
    height: auto;
    position: absolute;
    left:65%;
    bottom:20px;
    
    
}
#section4 a{

    position: absolute;
    left:75%;
    color:#666;
    bottom:20px;
    text-decoration-line: none;
}
    
#section4 h2{
    text-align: center; 
    padding-bottom: 20px;
    font-weight: 500;
    color: #42446E;
    
   
}
#section4 p{
    padding-bottom: 20px;
    font-weight: 400;
    font-family: "DM Sans";
    color:#3e3e42;
    line-height: 20px;
    
    
}

body {
    background: rgb(244,185,211);
    background: linear-gradient(80deg, rgba(244,185,211,0.24413515406162467) 0%, rgba(164,211,221,0.29735644257703087) 100%);
}
